configuration {
	modi: "drun,run,window,windowcd";
	font: "MesloLGS_NF 11";
	theme: "/home/atarbinian/.local/share/rofi/themes/solarized-darker.rasi";
	/*theme: "/home/atarbinian/.local/share/rofi/themes/arc.rasi";*/
	show-icons: true;
	terminal: "alacritty";
}
