configuration {
	modi: "drun,run,window,windowcd";
	/* font: "FiraCode Nerd Font 12"; */
	font: "Noto Sans 12";
	show-icons: true;
	terminal: "alacritty";
}
@theme "/home/atarbinian/.local/share/rofi/themes/solarized-darker.rasi"
/* @theme "/home/atarbinian/.config/rofi/material.rasi" */
