ZIM_CONFIG_FILE=~/.config/zsh/zimrc



#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Applies correct bindkeys for input events.
zmodule input
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion


#
# Modules that must be initialized last
#

zmodule jeffreytse/zsh-vi-mode
ZVM_VI_INSERT_ESCAPE_BINDKEY=jk

zmodule ericbn/zsh-history-substring-search
zmodule MichaelAquilina/zsh-you-should-use
zmodule zpm-zsh/ssh
zmodule Tarrasch/zsh-bd
zmodule peterhurford/up.zsh

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
ZSH_AUTOSUGGEST_STRATEGY=history
